.rh-ui-alert {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  position: relative;
  padding: 8px 15px 8px 37px;
  word-wrap: break-word;
  border-radius: 2px;
}

.rh-ui-alert-success {
  @include alert-style(#f6ffed, #b7eb8f);
}

.rh-ui-alert-default {
  @include alert-style(#e6f7ff, #91d5ff);
}

.rh-ui-alert-danger {
  @include alert-style(#fff2f0, #ffccc7);
}

.rh-ui-alert-warning {
  @include alert-style(#fffbe6, #ffe58f);
}

.rh-ui-alert-message {
  color: rgba(0, 0, 0, 0.85);
}

.rh-ui-alert-description {
  display: block;
  font-size: 14px;
  line-height: 22px;
}

.rh-ui-alert-close-icon {
  position: absolute;
  top: 12.0005px;
  right: 16px;
  padding: 0;
  overflow: hidden;
  font-size: 12px;
  line-height: 12px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
